<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="logback" schemaLocation="logback logback.xsd">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.flowmsp" level="DEBUG" />
	<logger name="org.eclipse.jetty" level="INFO" />
	<logger name="org.mongodb" level="INFO" />
	<logger name="org.eclipse.jetty" level="INFO" />
	<logger name="spark" level="INFO" />
	<logger name="org.apache" level="INFO" />
	<logger name="org.pac4j" level="INFO" />


</configuration>
